<div class="row">
  <div *ngIf="information" class="offset-3 col-6 text-center mt-5">
    <div class="fs-4">Name:</div>
    <div class="mb-3 display-3">{{information.name}}</div>
    <div class="mt-5 fs-4">State:</div>
    <div class="mb-3 fs-1">{{information.state}}</div>
    <div class="mt-5 fs-4">City:</div>
    <div class="mb-3 fs-1">{{information.city}}</div>
    <div class="mt-5 fs-4">Street:</div>
    <div class="mb-3 fs-1">{{information.street}}</div>
    <div class="mt-5 fs-4">Street number:</div>
    <div class="mb-3 fs-1">{{information.streetNumber}}</div>
    <div class="mt-5 offset-3 col-6 d-grid">
      <button class="btn btn-outline-secondary btn-block" (click)="openEditInformationModal()">Edit</button>
    </div>
  </div>
  <div *ngIf="!information" class="col-12 text-center mt-5">
    <div class="mb-3 display-3">Add information about your restaurant</div>
    <div class="mt-5 offset-3 col-6 d-grid">
      <button class="btn btn-outline-secondary btn-block" (click)="openAddInformationModal()">Add</button>
    </div>
  </div>
</div>

<!-- Add information modal -->

<div
  class="modal fade"
  id="addInformationModal"
  tabindex="-1"
  aria-labelledby="addInformationModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add restaurant information</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [noValidate]="false" [formGroup]="addInformationForm" (ngSubmit)="onAddInformationFormSubmit()">
        <div class="modal-body">
          <div class="my-2 form-group">
            <label for="addName">
              Name
            </label>
            <input class="form-control" id="addName" type="text" placeholder="Enter restaurant name" required minlength="3"
                   maxlength="50" formControlName="addName"/>
          </div>
          <div class="my-2 form-group">
            <label for="addState">
              State
            </label>
            <input class="form-control" id="addState" type="text" placeholder="Enter restaurant state" required minlength="3"
                   maxlength="50" formControlName="addState"/>
          </div>
          <div class="my-2 form-group">
            <label for="addCity">
              City
            </label>
            <input class="form-control" id="addCity" type="text" placeholder="Enter restaurant city" required minlength="3"
                   maxlength="50" formControlName="addCity"/>
          </div>
          <div class="my-2 form-group">
            <label for="addStreet">
              Street
            </label>
            <input class="form-control" id="addStreet" type="text" placeholder="Enter restaurant street" required minlength="3"
                   maxlength="50" formControlName="addStreet"/>
          </div>
          <div class="my-2 form-group">
            <label for="addStreetNumber">
              Street number
            </label>
            <input class="form-control" id="addStreetNumber" type="number" placeholder="Enter restaurant street number" required step="0.01"
                   min="0.01" formControlName="addStreetNumber"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit information modal -->

<div
  class="modal fade"
  id="editInformationModal"
  tabindex="-1"
  aria-labelledby="editInformationModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit restaurant information</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [noValidate]="false" [formGroup]="editInformationForm" (ngSubmit)="onEditInformationFormSubmit()">
        <div class="modal-body">
          <div class="my-2 form-group">
            <label for="name">
              Name
            </label>
            <input class="form-control" id="name" type="text" placeholder="Enter updated restaurant name" required minlength="3"
                   maxlength="50" formControlName="name"/>
          </div>
          <div class="my-2 form-group">
            <label for="state">
              State
            </label>
            <input class="form-control" id="state" type="text" placeholder="Enter updated restaurant state" required minlength="3"
                   maxlength="50" formControlName="state"/>
          </div>
          <div class="my-2 form-group">
            <label for="city">
              City
            </label>
            <input class="form-control" id="city" type="text" placeholder="Enter updated restaurant city" required minlength="3"
                   maxlength="50" formControlName="city"/>
          </div>
          <div class="my-2 form-group">
            <label for="street">
              Street
            </label>
            <input class="form-control" id="street" type="text" placeholder="Enter updated restaurant street" required minlength="3"
                   maxlength="50" formControlName="street"/>
          </div>
          <div class="my-2 form-group">
            <label for="streetNumber">
              Street number
            </label>
            <input class="form-control" id="streetNumber" type="number" placeholder="Enter updated restaurant street number" required step="0.01"
                   min="0.01" formControlName="streetNumber"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Modify
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

