<div class="row">
  <p class="my-3 display-2 text-center">Transactions</p>
  <div class="mt-5 mx-5 col-3 my-3" *ngFor="let transaction of transactions; let index=index">
    <div class="d-grid gap-5">
      <div class="btn btn-outline-dark text-center" (click)="openTransactionModal(transaction.id)">
        <div *ngIf="transaction.order" class="fs-3">Transaction of order from <b>{{transaction.order.recognitionId}}</b>
        </div>
        <span class="fs-3">{{transaction.status}}</span>
      </div>
    </div>
  </div>
</div>

<!-- Transaction details modal -->

<div
  class="modal fade"
  id="transactionModal"
  tabindex="-1"
  aria-labelledby="transactionModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transaction details</h5>
        <p class="mx-2 fs-5 modal-title" *ngIf="transaction && transaction.date">({{getDate(transaction.date)}})</p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center text-center">
          <div *ngIf="transaction" class="row d-flex justify-content-center align-items-center">
            <p *ngIf="transaction.order" class="my-3 fs-2 text-center">The transaction of
              <b>{{transaction.order.recognitionId}}</b>:</p>
            <div class="fs-3">{{transaction.status}}</div>
            <div class="fs-4 mb-3">{{transaction.comment}}</div>
            <hr class="bg-danger border-2 border-top border-secondary">
            <p class="my-3 fs-2 text-center">The order:</p>
            <div class="my-3 col-3 my-3" *ngFor="let meal of orderedMeals">
              <div class="alert alert-dark id text-center" role="alert">
                <span class="fs-3"><b>{{meal.name}}</b></span>
                <span class="fs-3"> - {{meal.quantity}}</span>
                <div class="fs-3">{{ (meal.price ?? 0) * (meal.quantity ?? 0) }} zł</div>
              </div>
            </div>
            <div class="text-center">
              <p *ngIf="orderedMeals.length > 0" class="fs-4">Total value: {{getTotalCostOfOrderedMeals()}} zł</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
