<div class="row">
  <p class="my-3 display-2 text-center">Meals</p>
</div>
<div class="row">
  <div class="text-center offset-3 col-6">
    <div class="d-flex">
      <input class="form-control mr-2" type="search" placeholder="Search meal by name" aria-label="Search"
             #nameInput>
      <button class="btn btn-outline-success mx-2" (click)="getMealsByName(nameInput.value)">Search
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="mt-5 mx-5 col-3 my-3" *ngFor="let meal of meals; let index=index">
    <div class="alert alert-primary id" role="alert">
      <span class="fs-3">{{meal.name}}</span>
      <span class="fs-3"> - {{meal.price}} zł</span>
    </div>
    <button class="m-1 btn btn-primary" (click)="openEditMealModal(meal.id)">Edit</button>
    <button class="m-1 btn btn-danger" (click)="removeMeal(meal.id)">Delete</button>
  </div>
  <button class="display-1 mx-5 col-3 my-3 alert alert-info" (click)="openAddMealModal()">
    +
  </button>
</div>

<!-- Add meal modal-->

<div
  class="modal fade"
  id="addMealModal"
  tabindex="-1"
  aria-labelledby="addMealModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add meal</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [noValidate]="false" [formGroup]="addMealForm" (ngSubmit)="onAddMealFormSubmit()">
        <div class="modal-body">
          <div class="my-2 form-group">
            <label for="name">
              Name
            </label>
            <input class="form-control" id="name" type="text" placeholder="Enter meal name" required minlength="3"
                   maxlength="50" formControlName="name"/>
          </div>
          <div class="my-2 form-group">
            <label for="price">
              Price
            </label>
            <input class="form-control" id="price" type="number" placeholder="Enter meal price" required step="0.01"
                   min="0.01" formControlName="price"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit meal modal-->

<div
  class="modal fade"
  id="editMealModal"
  tabindex="-1"
  aria-labelledby="editMealModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit meal</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [noValidate]="false" [formGroup]="editMealForm" (ngSubmit)="onEditMealFormSubmit(editMealId)">
        <div class="modal-body">
          <div class="my-2 form-group">
            <label for="editName">
              Name
            </label>
            <input class="form-control" id="editName" type="text" placeholder="Enter updated meal name" required
                   minlength="3"
                   maxlength="50" formControlName="editName"/>
          </div>
          <div class="my-2 form-group">
            <label for="editPrice">
              Price
            </label>
            <input class="form-control" id="editPrice" type="number" placeholder="Enter updated meal price" required
                   step="0.01"
                   min="0.01" formControlName="editPrice"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Modify
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
